/* Footer */
.barra-footer{ 
    background-color: #778899;
}
.redes-sociais{ 
    list-style: none; 
    padding: 15px 5px; 
    text-align: center;
}
.discos{
    list-style: none; 
    padding: 15px 5px; 
    text-align: center;
}
.telefone { 
    padding: 15px; 
    text-align: center; 
}
.telefone a{ 
    color: #000000; 
}
.telefone a:hover{ 
    color: green; 
    font-size: 20px; 
}
.copyright { 
    text-align: center; 
    list-style: none; 
}