/* Mapa */
.map { 
    padding-bottom: 0;  
}
.onde-estamos { 
    height: 70px; 
    background-color: #708090; 
    width: 100%; 
}
.onde-estamos h1 { 
    text-align: center; 
    line-height: 70px; 
    font-weight: bold; 
    text-transform: uppercase;
}
.wd-row { 
    margin: 0; 
}

