@import '_header.scss';
@import '_meio.scss';
@import '_map.scss';
@import '_noticias.scss';
@import '_footer.scss';
@import '_single.scss';
@import '_paginasgerais.scss';

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Lato');

/* Geral */
body{ font: 16px/1.6 'Oswald', sans-serif; background-color: #F8F8FF; }
body p{ font: 16px/1.6 'Lato', sans-serif; }
h1{ font-size: 28px; margin:15px 0 15px; }
h2{ font-size: 24px; margin-top: 0;}
h3{ font-size: 20px; margin-top: 0;}
h4{ font-size: 18px; margin-top: 0;}
p label{ font-size: 18px; color: #000000; }





